/* LOADER */

#loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(103deg, rgba(2,0,36,1) 0%, rgba(68,13,13,1) 57%, rgba(0,212,255,1) 100%);
    z-index: 999999 !important;
}
.loading{
    display: flex;
}
#loader.done{
    display: none;
}

.loading > span{
    font-size: 30px;
    font-weight: bold;
    color: #f80404;
    -webkit-text-stroke: 1px #fff000;
    position: relative;
    animation: loader var(--i) ease-in-out alternate infinite;
}

@keyframes loader {
    from{
        translate: 0 0px;
    }
    from{
        translate: 0 -25px;
    }
}

/* Side BAr */
.navbar,.offcanvas{
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(35,81,91,1) 57%, rgba(68,13,13,1) 100%);
}
.offcanvas.offcanvas-start{
    --bs-offcanvas-width: 277px;
} 
.main-content{
    margin-top: 100px;
}
body{
    background-color: #CFF5E7;

}

.navbar .nav-link:hover{
    color: #fff000;
}